<div class="user-profile">
  <div class="left">
    <div class="floor">
      <div class="photo"></div>
      <button *ngIf="isOwner()" class="changePhoto">Change photo</button>
    </div>
    <div class="floor">
      <span class="info">Count of medals</span>
      <span class="info">Count of feedbacks</span>
    </div>
    <div class="floor">
      <span>list of bonuses</span>
    <br>
    <div *ngFor="let item of bonuses">
        <p>{{item}}</p>
    </div>
    </div>
  </div>
  <div class="right">
    <div class="floor">
      <h4 class="title">Hello, my name is {{name}}!</h4>
      <div class="info">
        <div class="line">
          <h3 class="prefix-title">About me:</h3>
          <button *ngIf="isOwner()" class="edit">Edit profile</button>
        </div>
        <div class="line">
          <span class="info-line">I live in {{hometown}}</span>
          <span class="info-line">I work as {{work}}</span>
          <span class="info-line">I am interested in {{hobbies}}</span>
        </div>
      </div>
    </div>

    <div class="floor">
      <div class="line">
        <h3 class="prefix-title">My Campaigns:</h3>
        <div class="actions">
          <button class="create" *ngIf="isOwner()" (click)="modalsService.open(modalsService.modals.CREATE_CAMPAIGN_MODAL)">Create new campaign</button>
          <button class="filter">Filter</button>
        </div>
      </div>
      <div class="line">
        <div class="list-campaigns">
          <div class="campaign" *ngFor="let item of listOfCampaigns">
            <div *ngIf="userService.token" class="icon-delete"></div>
            <div class="photo"></div>
            <div class="info">
              <div class="title">
                <a [routerLink]="'/campaigns/'+item.id">{{item.name}}</a>
                <button *ngIf="isOwner()" class="edit-campaign">edit</button>
              </div>
              <div class="info">
                <p>
                   {{item.about}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
