<div class="user-profile">
  <div class="left">
    <div class="floor">
      <div class="photo"></div>
      <button class="changePhoto">Change photo</button>
    </div>
    <div class="floor">
      <span class="info">Count of medals</span>
      <span class="info">Count of feedbacks</span>
    </div>
    <div class="floor">
      <span>list of bonuses</span>
    </div>
  </div>
  <div class="right">
    <div class="floor">
      <h4 class="title">Hello, my name Alexander!</h4>
      <div class="info">
        <div class="line">
          <h3 class="prefix-title">About me:</h3>
          <button class="edit">Edit profile</button>
        </div>
        <div class="line">
          <span class="info-line">I live in Minsk...</span>
          <span class="info-line">I work as...</span>
          <span class="info-line">I am interested in...</span>
        </div>
      </div>
    </div>

    <div class="floor">
      <div class="line">
        <h3 class="prefix-title">My Campaigns:</h3>
        <div class="actions">
          <button class="create">Create new campaign</button>
          <button class="filter">Filter</button>
        </div>
      </div>
      <div class="line">
        <div class="list-campaigns">
          <div class="campaign">
            <div class="icon-delete"></div>
            <div class="photo"></div>
            <div class="info">
              <div class="title">
                <h3>Name of campaign</h3>
                <button class="edit-campaign">edit</button>
              </div>
              <div class="info">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid aspernatur assumenda dicta eos fuga fugiat laborum necessitatibus quae quisquam quod rem reprehenderit sint velit, vero voluptate. Qui, vero.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
