.p-404 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000000;
  background: #0A1B33;
  font-size: 200px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
