<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Navmenu</title>
</head>
<body>
    
    <div class="header">
        <div class="nav">
            <label class="search">
                <input class="search-input" type="text" placeholder="Search...">
                <img class="search-icon" src="./private-eye-magnifying-glass.svg" alt="search">
            </label>

            <div class="auth">
                <div class="logIn">Log in</div>
                <div class="delimiter"></div>
                <div class="joinUs">Join us!</div>
            </div>
        </div>
    </div>

    <div class="recently">
        <h3>Campaigns with the highest ratings</h3>
        <div class="recently-info">
            <img class="recently-info-image" src="https://images.wallpaperscraft.ru/image/ruka_serdtse_kraska_160714_1920x1080.jpg" alt="image">
            <div class="recently-info-text">
                <h4>Name of a campaign with link on it</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>

    <div class="recently-added">
        <div class="recently-item">
            <img class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg" alt="">
            <h5 class="recently-item-title">Name of campaign</h5>
            <h6 class="recently-item-link">About...</h6>
        </div>
        <div class="recently-item">
            <img class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg" alt="">
            <h5 class="recently-item-title">Name of campaign</h5>
            <h6 class="recently-item-link">About...</h6>
        </div>
        <div class="recently-item">
            <img class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg" alt="">
            <h5 class="recently-item-title">Name of campaign</h5>
            <h6 class="recently-item-link">About...</h6>
        </div>
        <div class="recently-item">
            <img class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg" alt="">
            <h5 class="recently-item-title">Name of campaign</h5>
            <h6 class="recently-item-link">About...</h6>
        </div>
    </div>


</body>
</html>