<div class="recently" *ngIf="campaignsService.bestCampaign">
  <h3>Campaign with the highest ratings</h3>
  <div class="recently-info">
    <img class="recently-info-image" src="https://images.wallpaperscraft.ru/image/litso_kraska_profil_abstraktsiya_95073_1920x1080.jpg" alt="image">
    <div class="recently-info-text">
      <h4>{{ campaignsService.bestCampaign.name }}</h4>
      <p>{{ campaignsService.bestCampaign.about }}</p>
    </div>
  </div>
</div>

<div class="recently-added">
    <div class="recently-item" *ngFor="let item of campaignsService.listOfCampaigns">
      <img class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg" alt="">
      <a [routerLink]="'/campaigns/'+item.id" class="recently-item-title"> {{ item.name }} </a>
      <h6 class="recently-item-link"> {{ item.about }} </h6>
  </div>
</div>
