
<div class="best-campaign">

  <div class="best-campaign-left">
    <h2 class="best-campaign-title">Campaigns with the highest ratings</h2>
    <div class="best-campaign-container">
      <div class="photo"></div>
      <a *ngIf="campaignsService.bestCampaign" [routerLink]="'/campaigns/'+campaignsService.bestCampaign.id" class="title">{{ campaignsService.bestCampaign.name }}</a>
      <p class="text" *ngIf="campaignsService.bestCampaign">
        {{campaignsService.bestCampaign.about}}
      </p>
    </div>
  </div>

  <div class="tags">
    <tags-view></tags-view>
  </div>


</div>

<div class="recently-added">

  <div *ngFor="let item of campaignsService.listOfCampaigns" class="recently-item">
    <img alt=""
         class="recently-item-image" src="https://images.wallpaperscraft.ru/image/sneg_gory_vershiny_160678_1920x1080.jpg">
    <a [routerLink]="'/campaigns/'+item.id" class="recently-item-title"> {{ item.name }} </a>
    <h6 class="recently-item-link"> {{ item.about }} </h6>
  </div>

</div>


