<modal>
  <div class="modal">
    <span (click)="cbClose.emit()" class="closeIcon">
      <img alt="close" src="https://i.ya-webdesign.com/images/close-icon-png-3.png">
    </span>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="modal-form">
      <label>
        <span class="head">Name</span>
        <input name="name" ngModel>
      </label>
      <label>
        <span class="head">Username</span>
        <input name="username" ngModel>
      </label>
      <label>
        <span class="head">Password</span>
        <input autocomplete="on" type="password" name="password" ngModel>
      </label>
      <label>
        <span class="head">Re-enter password</span>
        <input autocomplete="on" type="password" name="repeatPassword" ngModel>
      </label>
      <span [ngClass]="{active: haveError}" class="error">Неправильно заполнены поля</span>
      <button>Click</button>
    </form>

  </div>
</modal>
