.list {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  .item {
    position: relative;
    border: solid 1px rgba(0, 0, 0, .3);
    margin-bottom: 40px;
    padding: 20px 40px;
    border-radius: 2px;
  }
  .date {
    position: absolute;
    top: 15px;
  }
  .title {
    text-align: center;
    font-weight:bold;
    font-size: 25px;
    margin: 15px 0 20px 0;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
  }
  .description {
    font-size: 14px;
    word-wrap: break-word;
  }
  .read-more {
    font-size: 13px;
    font-weight: bold;
    color: #629BFF;
    cursor: pointer;
    margin-left: 5px;
  }
}

