<div class="list">
  <div *ngFor="let data of news" class="item">
    <div class="date">{{data.creation_date}}</div>
    <div class="title">{{data.title}}</div>
    <div class="line"></div>
    <div class="description">
      <span class="about" *ngIf="!data.isBig">{{data.about}}</span>
      <span class="about" *ngIf="data.isBig">{{data.about.substring(0, 497)}}...</span>
      <span *ngIf="data.about.length > 500" (click)="data.isBig = !data.isBig;" class="read-more">{{ readMore(data.isBig) }}</span>
    </div>
  </div>

</div>
