<div class="container">
  <div class="floor">
    <div class="campaign-profile">
      <div class="header">
        <div class="title">
          <h1>{{name}}</h1>
          <div class="stars">
            <svg-star class="star" *ngFor="let star of stars" [active]="star <= activeStar" (click)="onSelectStar(star)"></svg-star>
          </div>
        </div>
        <div class="user">
          <a [routerLink]="'/users/' + ownerId" class="photo"></a>
          <div class="owner-name">
            {{owner}}
          </div>
        </div>
      </div>
      <div class="theme">{{theme}}</div>
      <div class="tags">
        <div class="title">Tags:</div>
        <div class="items" *ngFor="let item of tags">
          <p>{{item.name}}&nbsp;&nbsp;</p>
        </div>
      </div>
      <div class="hr"></div>
      <div class="about">
        {{about}}
      </div>
    </div>
    <div class="status-amount">
    <span class="goal amount">
      <span class="title">Goal</span>
      <span class="value">{{goalAmount}}$</span>
    </span>
      <span class="received amount">
      <span class="title">Received</span>
      <span class="value">{{curAmount}}$</span>
    </span>
      <div class="title">Bonuses list</div>
      <div class="bonuses-list" *ngFor="let bonus of bonuses">
        <div class="line">
          donate {{bonus.value}}$ and receive {{bonus.about}}
        </div>
      </div>
      <button class="btn donate" *ngIf="userService.token && notFinished()" (click)="onDonate()">
        Donate
      </button>
    </div>
  </div>

  <div class="hr"></div>

  <div class="tabs">
    <div class="tab" *ngFor="let tab of tabs" (click)="onTabClick({tabName: tab})" [ngClass]="{active: tab === currentTab}" >{{tab}}</div>
    <div class="postNew" *ngIf="isOwner()" (click)="onPostNew()">Post new</div>
  </div>

  <div [ngSwitch]="currentTab" class="list">
    <app-list-news [news]="news" *ngSwitchCase="'NEWS'"></app-list-news>
    <div *ngSwitchCase="'COMMENTS'">
      <app-list-comments [comments]="comments"></app-list-comments>
      <div class="add-comment" *ngIf="userService.token">
        <input #inputAddComment>
        <button type="button" (click)="onPostComment(inputAddComment.value)">Post</button>
      </div>
    </div>
  </div>

</div>
