<navigation-bar (openAuthModal)="open(modals.AUTH_MODAL)" (openRegistrationModal)="open(modals.REGISTRATION_MODAL)"></navigation-bar>
<div class="shiftNavigation">
  <auth-modal *ngIf="openedModals[modals.AUTH_MODAL]" [open]="openedModals[modals.AUTH_MODAL]" (cbClose)="close(modals.AUTH_MODAL)"></auth-modal>
  <registration-modal *ngIf="openedModals[modals.REGISTRATION_MODAL]" [open]="openedModals[modals.REGISTRATION_MODAL]" (cbClose)="close(modals.REGISTRATION_MODAL)"></registration-modal>
  <router-outlet></router-outlet>
</div>

