<navigation-bar
  (openAuthModal)="openModal(modalsService.modals.AUTH_MODAL)"
  (openRegistrationModal)="openModal(modalsService.modals.REGISTRATION_MODAL)"
>
</navigation-bar>
<div class="shiftNavigation">
  <auth-modal *ngIf="modalsService.openedModals[modalsService.modals.AUTH_MODAL].isOpen" (cbClose)="closeModal(modalsService.modals.AUTH_MODAL)"></auth-modal>
  <registration-modal *ngIf="modalsService.openedModals[modalsService.modals.REGISTRATION_MODAL].isOpen"  (cbClose)="closeModal(modalsService.modals.REGISTRATION_MODAL)"></registration-modal>
  <create-campaign-modal *ngIf="modalsService.openedModals[modalsService.modals.CREATE_CAMPAIGN_MODAL].isOpen" (cbClose)="closeModal(modalsService.modals.CREATE_CAMPAIGN_MODAL)"></create-campaign-modal>
  <post-new-modal [data]="modalsService.openedModals[modalsService.modals.POST_NEW_MODAL].data" *ngIf="modalsService.openedModals[modalsService.modals.POST_NEW_MODAL].isOpen" (cbClose)="closeModal(modalsService.modals.POST_NEW_MODAL)"></post-new-modal>
  <donate-modal [data]="modalsService.openedModals[modalsService.modals.DONATE_MODAL].data" *ngIf="modalsService.openedModals[modalsService.modals.DONATE_MODAL].isOpen" (cbClose)="closeModal(modalsService.modals.DONATE_MODAL)"></donate-modal>
  <router-outlet></router-outlet>
</div>
